<footer class="footer mt-auto py-3 bg-light h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="container py-3">
    <div class="row">
      <div class="col-12 col-md-6">
        <ul class="contact-list list-unstyled">
          <li>
            {%- include address.html -%}
          </li>
          {%- if site.phone %}
            <li class="mb-3">
              <a href="tel:{{ site.phone }}" >
                {{ site.phone }}
              </a>
            </li>
          {%- endif %}
          {%- if site.email %}
            <li class="mb-3"><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif %}
          {%- if site.bootstrap.social_links -%}
            <li>
              {%- include social.html -%}
            </li>
          {%- endif -%}
        </ul>
      </div>
      <div class="col-12 col-md-6">
        {%- include hours.html -%}
      </div>
    </div>
  </div>
</footer>
